@font-face {
    font-family: Norse-Bold;
    src: url(./assets/Norse-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    background: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    color: white;
    font-family: Norse-Bold, sans-serif;

}

.right{
    display: flex;
    width: calc(100vw * (1 - (35/100)));
    flex-direction: column;
    background-color: #f4f4f4;
}

.description{
    height: 25vh;
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
    margin-bottom: 5%;
    align-items: flex-end;
}

.second{
    background-color: white;
    box-shadow: 2px 5px #e9e9e9;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.second > h3{
    margin-left: 50px;
    padding-top: 10px;
}
.form-main-div{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    justify-content: space-between;
    width: 60%;
}
.form-divs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.form-div{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}
input{
    width: 200px;
    border:1px solid #E5E7EB;
    height: 25px;
    border-radius: 5px;
}
input:focus{
    border-color: blue;
}
input:invalid{
    border-color: red;
}
.form-divs label{
    font-size: 10px;
    color: #b3b3b3;
    text-transform: uppercase;
}
#error{
    font-size: 10px;
    color: red;
    margin: 1px;
}
.third{
    margin-left: 50px;
    margin-top: 25px;
}
.btn-green{
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: medium;
    box-shadow: 2px 5px #e9e9e9;
}
.hyperlink{
    margin-top: 25px;
    margin-left: 50px;
}
.login{
    color: green;
    text-decoration: none;
    font-weight: bold;
}
.a-footer{
    color: white
}
.p-footer{
    font-size: 12px;
}

.left-image{
    height: 40vh;
    display: flex;
    align-items: flex-end;
}

.left-footer{
    display: flex;
    height: 60vh;
    justify-content: center;
    width: inherit;
    align-items: flex-end;
}

.image{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background: rgba(0,0,0,0.6);
}

.image h1{
    font-size: 40px;
}