@font-face {
    font-family: Norse-Bold;
    src: url(./assets/Norse-Bold.otf);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left{
    background: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 35vw;
    color: white;
    font-family: Norse-Bold;

}

.right{
    display: flex;
    justify-content: center;
}