@font-face {
    font-family: Norse-Bold;
    src: url(./assets/Norse-Bold.otf);
}

h1{
    font-family: Norse-Bold, sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;
}

.left, .right{
    display: flex;
    justify-content: center;
    width: 50vw;
}